* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6ead3;
    font-family: serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0;
}



form{
    background-color: #f2cda5;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    max-width: 400px; 
}

.result{
    background-color: white;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    max-width: 480px; 
}

.alert {
    padding: 20px;
    text-align: center;
    max-width: 400px; 
    display: block;
    text-align: left; 
    margin-bottom: 5px; 
    background-color: #d6b8ba;
}

.alert h3{
    text-align: center;
}


form h1{
    background-color: #f2cda5;
    text-align: center;
    padding: 10px;
}

form h2{
    background-color: #f2cda5;
    text-align: center;
    padding: 10px;
}

form label{
    display: block;
    text-align: left; 
    margin-bottom: 5px; 
}


form input[type="text"],
form input[type="file"],
form input[type="date"],
form input[type="email"],
form input[type="number"],
form input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    padding: 10px;
    resize: vertical;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="text"]:hover,
form input[type="date"]:hover,
form input[type="email"]:hover,
form input[type="password"]:hover,
form input[type="number"]:hover,
form textarea:hover {
    background-color: lightgray;
}
form input[type="file"]:hover{
    background-color: #d4b28e;
}

form button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #666;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.result img{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain; 
    border: 1px solid #ccc;
}

.result a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.5; 
}

.result hr {
    border: none; 
    height: 2px; 
    background-color: black;
    margin: 10px 0; 
}